{% extends "base.html" %}
{% block content %}
<div class="row scoll-pane">


    <main class="form-signin text-center">
        <form action="/login" method="POST">
            <h2>Login</h2>

            <div class="row justify-content-md-center"><div class="col-12 col-sm-12 col-md-6 col-lg-4">
                {% with messages = get_flashed_messages(with_categories=true) %} {% if messages %} {% for category, message in messages %}
                <div class="alert alert-{{ category }} text-center " role="alert">
                    {{ message }}
                </div>
            {% endfor %} {% endif %} {% endwith %}</div></div>
            <div class="row mb-2">
                <div class="col-sm-6 text-sm-end">
                    <label for="login" class="visually-hidden">Login</label>
                </div>
                <div class="col-sm-6 text-sm-end">
                    <input type="text" name=usuario id="login" class="form-control m-3" placeholder="Login" required autofocus>
                </div>
            </div>
            <div class="row mb-2">
                <div class="col-sm-6 text-sm-end">
                    <label for="senha" class="visually-hidden m-3">Password</label>
                </div>
                <div class="col-sm-6 text-sm-end">
                    <input type="password" name=senha id="senha" class="form-control m-3" placeholder="Senha" required>
                </div>
            </div>
            <button class="w-100 btn btn-lg btn-primary m-3" type="submit">Login</button>
        </form>
    </main>

</div>
{% endblock %}
