{% if dictdata['phrase'] %}
<p class="text-center "><em>...{{ dictdata['phrase'] }}...</em></p>
{% endif %}

<div id="dictionary" style="display: none" class=".container-fluid">
    <h4 class="text-center">Dictionary data</h4>
    {% for pos in dictdata['dictdata']['pos'] %}
    <div class="row justify-content-sm-center">
        <p class="text-warning text-center"><b>{{ dictdata['dictdata']['entry'] }}</b> - {{ pos['part_of_speech'] }}</p>
        <p class="text-center">Etymology: {{ pos['etymology'] }}</p>
        {% for defitem in pos['definitions'] %}
        <div class="col-12 col-sm-12 col-md-6 col-lg-6 mb-4">
            <div class="card border-secondary mb-3">
                <div class="card-header">Def. {{ loop.index }}</div>
                <div class="card-body">
                  <p class="card-title">{{ defitem['text'] }}</p>
                    {% if defitem['examples'] %}
                    {% for exe in defitem['examples'] %}
                    <p class="card-text"><em>{{ exe }}</em></p>
                    {% endfor %}    
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
        {% if pos['cs'] %}<p class="text-center">{{ pos['cs'] }}</p>{% endif %}
        {% if pos['syn'] %}<p class="text-center"><b>Syn.</b>: {{ pos['syn'] }}</p>{% endif %}
    </div>
    {% endfor %}
</div>
