{% extends "base.html" %}
{% block content %}

{% set progress = False %}
{% if currentword < words['count_dict'] %}
    {% set dictdata = words['wordstudy'][currentword] %}
    {% set progress = True %}
{% endif %}

<div class="container-lg">
<h1 class="text-center m-3">Study {% if progress %}in progress{% else %}finished{% endif %}</h1>


{% if progress %}
<div class="row mb-5">
    <h3 class="text-center">{{ dictdata['word'] }}{% if dictdata['inflashcard'] %} <span class="badge bg-warning fs-6 fst-normal">In flashcard</span>{% endif %}</h3>
    <!-- <div class="text-center col-12">
        <span class="badge bg-warning mb-2">In flashcard</span>
    </div> -->
    <form method="post" action="{{ url_for('langapp.nextword') }}">
        <div class="row justify-content-sm-center">
            <div class="col-6 col-sm-4 col-md-3 col-lg-2 mb-3 text-center">
                <button type="submit" name="submit" value="know" class="btn btn-success {% if not session['username'] %}disabled{% endif %}" data-toggle="tooltip" data-placement="bottom" title="Mark word as a known word">I know</button>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-lg-2 mb-3 text-center">
                <button type="button" id="showm" class="btn btn-info" onclick="toggle('dictionary','showm')" data-toggle="tooltip" data-placement="bottom" title="Show dictionary data bellow">Show meaning</button>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-lg-2 mb-3 text-center">
                <button type="submit" name="submit" value="study" class="btn btn-warning {% if not session['username'] %}disabled{% endif %}" data-placement="bottom" title="Insert word in flashcard">Study later</button>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-lg-2 mb-3 text-center">
                <button type="submit" name="submit" value="nextword" class="btn btn-light" data-placement="bottom" title="Skip word and go to next">Next</button>
            </div>
        </div>
    </form>
    <div id="dictionary" style="display: none" class=".container-fluid">
        <h4 class="text-center">Dictionary data</h4>
        {% if dictdata['phrase'] %}
        <p class="text-center "><em>...{{ dictdata['phrase'] }}...</em></p>
        {% endif %}
        {% for d in dictdata['dictdata'] %}
        {% for def in d['definitions'] %}
        <div class="row justify-content-sm-center">
            <p class="text-warning text-center"><b>{{ dictdata['word'] }}</b> - {{ def['partOfSpeech'] }}</p>
            <div class="col-12 col-sm-12 col-md-6 col-lg-4 mb-3">
                <p class="text-center">Definitions:</p>
                <div class="list-group">
                    {% for text in def['text'] %}
                    <a class="list-group-item">{{ text }}</a>
                    {% endfor %}
                </div>
            </div>
            {% if def['examples'] %}
            <div class="col-12 col-sm-12 col-md-6 col-lg-4 mb-3">
                <p class="text-center">Examples:</p>
                <div class="list-group">
                    {% for text in def['examples'] %}
                    <a class="list-group-item">{{ text }}</a>
                    {% endfor %}
                </div>
            </div>
            {% endif %}
            {% if def['relatedWords'] %}
            <div class="col-12 col-sm-12 col-md-6 col-lg-4 mb-3">
                <p class="text-center">Related words:</p>
                {% for r in def['relatedWords'] %}
                <p><b>{{ r['relationshipType'] }}</b>: {{ r['words'] | join(', ') }}</p>
                {% endfor %}
            </div>
            {% endif %}
        </div>
        {% endfor %}
        {% if d['etymology'] %}
        <p><b>Etymology</b>: {{ d['etymology'] }}</p>
        {% endif %}
        {% if d['pronunciations'] %}
        <p><b>Pronunciations: </b>{{ d['pronunciations']['text'] | join(' | ') }}</p>
        {% endif %}
        <p class="text-center">Link: <a href="{{ d['link'] }}" target="_blank">wiktionary.org</a></p>
        {% endfor %}
    </div>
</div>
{% endif %}

<div class="row mb-5">
    <div class="col-12 col-sm-12 col-md-6 justify-content-sm-center">
        <p>If you're logged in, you can mark words as known or save them to flashcard. Bellow, the number of each type of word in the given text.</p>
        <div class="w-50 mb-3 mx-auto">
            <table class="table table-hover">
            <tbody>
              <tr class="table-success">
                <th scope="row">Known words</th>
                <td>{{ words['count_known'] }}</td>
              </tr>
              <tr class="table-warning">
                <th scope="row">To study</th>
                <td>{{ words['count_dict'] }}</td>
              </tr>
              <tr class="table-dark">
                <th scope="row">Not found</th>
                <td>{{ words['count_notf'] }}</td>
              </tr>
              <tr class="table-primary">
                <th scope="row">Total</th>
                <td>{{ words['count_total'] }}</td>
              </tr>
            </tbody>
          </table>
        </div>
    </div>
    <div class="col-12 col-sm-12 col-md-6">
        <p class="text-center">Words status in text</p>
        <div class="text-center"><span class="badge bg-success">Known</span><span class="badge bg-warning">To Study</span><span class="badge bg-dark">Not Found</span></div>
        <div class="progress mb-3">
            <div class="progress-bar bg-success" role="progressbar" style="width: {{ words['count_known'] * 100 / words['count_total'] }}%;" aria-valuenow="{{ words['count_known'] * 100 / words['count_total'] }}" aria-valuemin="0" aria-valuemax="100"></div>
            <div class="progress-bar bg-warning" role="progressbar" style="width: {{ words['count_dict'] * 100 / words['count_total'] }}%;" aria-valuenow="{{ words['count_dict'] * 100 / words['count_total'] }}" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        <p class="text-center">Study progress: {{ currentword }}/{{ words['count_dict'] }}</p>
        <div class="progress">
            <div class="progress-bar" role="progressbar" style="width: {{ currentword * 100 / words['count_dict'] }}%;" aria-valuenow="{{ currentword * 100 / words['count_dict'] }}" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
  
    </div>
</div>

<div class="row">
<h3 class="text-center">Complete list of words</h3>
{% if words['wordstudylist'] %}
<p class="text-warning"><b>Studying: </b>{{ words['wordstudylist']|join(', ') }}</p>
{% endif %}
{% if words['wordsnot'] %}
<p class="text-secondary"><b>Not Found: </b>{{words['wordsnot']|join(', ') }}</p>
{% endif %}
{% if words['wordsknown'] %}
<p class="text-success"><b>Known: </b>{{ words['wordsknown']|join(', ') }}</p>
{% endif %}
</div>

</div>

{% endblock %}